#divMapa {
    width: 700px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    margin-left: 400px;
}
#carouselExampleIndicators{

    width: 600px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    margin-left: 400px;
}
.descripción{
    border: mediumblue;
}